  /* body{
    background: 
    url("../images/gr.jpeg") repeat  #131E27  ;
     
 }  */
 
#one , #Two , #Three , #four ,#five ,#six {
  border-bottom: 2px solid rgb(79, 79, 79);
    
}

#Two , #Three , #five ,#six , #eight , #nine{
  border-left: 2px solid rgb(79, 79, 79);;
}
 
td{
    width: 10%;
    height: 100px;
    font-size: 50px;
    line-height: 100px;
}
  
table{
      margin: 0 auto;
      height: 400px;
      margin-top: 60px;
      text-align: center;
      color:#fff;
      width:30%;
  }


#buttons{
    text-align: center;
}

button{
     margin: 0 auto;
     margin-top: 50px;
     width: 250px;
     height: 40px;
     border-radius: 6px;
     background-color: rgb(95, 118, 247);
     color:white;
     font-size: 20px;
 }

button:hover{
    background-color: rgb(39, 40, 46);
    border: 2px solid rebeccapurple;
 }

#scoreX{
     margin-top: 40px;
     text-align: center;
     font-size: 18px;
 }

#scoreO{
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
}


#test{
    position: absolute;
    top: 230px;
    left: 250px;
    font-size: 40px;
    color: red;

}

#test2{
    position: absolute;
    top: 230px;
    right: 250px;
    font-size: 40px;
    color: red;

}


#imgOne{
    width: 120px;
    position: absolute;
    top: 290px;
    left: 245px;
    display: none;
}

#imgTwo{
    width: 120px;
    position: absolute;
    top: 290px;
    right: 255px;
    display: none;
}

#playWitheComputer{
    background-color:rgb(134, 114, 247);
}

a{
    color:#fff;
}

a:hover{
    color:#000;
    text-decoration: none;
}
